{% extends 'my_app/acasa.html' %}

{% block head_block %}

{% endblock %}

{% block body_block %}
<div class="container" style="margin-top: 4rem;">
    <div class="row">
        <div class="col-lg-6 col-md-4 col-sm-6">
            {% for message in messages %}
            <div class="alert alert-success">
                <p style="font-family: 'Montserrat', sans-serif;font-weight: bolder;">{{ message }}</p>
            </div>
            {% endfor %}
            <form class="form-group" method="POST" action="" style="font-family: 'Montserrat', sans-serif;font-weight: bolder;">
                {% csrf_token %}
                <input type="hidden" id="user1" value="" name="user">
                <input type="hidden" id="produs1" value="" name="afacere">
                <label for="data">Data:</label>
                <input type="date" class="form-control" name="data" placeholder="Data..." required />
                <label for="ora" style="margin-top: 12px;">Ora:</label>
                <select class="form-control" name="ora" required>
                    <option selected disabled>----------</option>
                    <option>6:30</option>
                    <option>7:30</option>
                    <option>8:30</option>
                    <option>9:30</option>
                    <option>10:30</option>
                    <option>11:30</option>
                    <option>12:30</option>
                    <option>13:30</option>
                    <option>14:30</option>
                    <option>15:30</option>
                    <option>16:30</option>
                    <option>17:30</option>
                    <option>18:30</option>
                    <option>19:30</option>
                    <option>20:30</option>
                    <option>21:30</option>
                    <option>22:30</option>
                    <option>23:30</option>
                    <option>24:00</option>
                </select>
                <br>
                {% if user.is_authenticated %}
                <input type="submit" class="my_button" value="Programeaza-te acum">
                {% else %}
                <button data-toggle="collapse" data-target="#demo" class="my_button">Programeaza-te acum</button>
                <div id="demo" class="collapse">
                    Ai nevoie de un cont pentru a adauga o recenzie
                </div>
                {% endif %}
            </form>
        </div>
    </div>
</div>
<br>
    <div class="jumbotron" id="jumbotron3">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <p class="param4">Contacteaza-ne</p>
                    <br>
                    <p class="param5"><i class="fab fa-facebook"></i> Facebook</p>
                    <p class="param5"><i class="fab fa-instagram"></i> Instagram</p>
                    <p class="param5"><i class="fas fa-envelope"></i> Email: </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <p class="param4">Informatii</p>
                    <br>
                    <a href=""><p class="param5">Ajutor si contact</p></a>
                    <a href=""><p class="param5">Politica de confidentialitate</p></a>
                    <a href=""><p class="param5">Termeni si conditii</p></a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <p class="param4">Despre noi</p>
                    <br>
                    <p class="param5">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima distinctio nisi porro accusantium magni harum veniam, quasi veritatis cumque nesciunt quod delectus.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="jumbotron" id="jumbotron4">
        <div class="container">
            <p class="param5">© Copyright {{ date_posted }} - NextStep Medicine - Toate drepturile rezervate</p>
        </div>
    </div>
{% endblock %}