{% extends 'my_app/contul_meu_doctor.html' %}
{% load static %}

{% block head_block %}
<style>
    .banner{
        height: 180vh;
    }
    #card-box{
        padding: 20px;
        background-color: #fff;
        transition: 0.4s ease-in-out;
        padding-bottom: 23px;
        box-shadow: 0 1px 1px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    }
    #card-box:hover{
        box-shadow: 0 1px 4px rgb(0 0 0 / 12%), 0 1px 3px rgb(0 0 0 / 24%);
    }
    #image3{
        width: 100%;
        height: 26vh;
    }
    .my_button{
        font-family: 'Montserrat', sans-serif;
        font-weight: bolder;
        color: #fff;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #92B4EC;
        border: 1px solid #92B4EC;
        border-radius: 12px;
        transition: 0.4 ease-in-out;
    }
    .my_button:hover{
        background-color: #6a96de;
    }
    #jumbotron5{
        background-color: #fff;
        padding: 20px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bolder;
        box-shadow: 0 1px 1px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    }
</style>
{% endblock %}

{% block body_block %}
<div class="container">
    <div class="new_banner">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <img src="{% static 'images/profile_pic.png' %}" style="height: 7vh;width: 28%;display: inline;border-radius: 100%;">
                <p class="param5">{{ user.username }}</p>
            </div>
            <div class="col-lg-9 col-md-4 col-sm-6">
                <form class="form-group" method="POST" action="">
                    {% csrf_token %}
                    <div class="search-box">
                        <button class="btn-search"><i class="fas fa-search"></i></button>
                        <input type="text" class="input-search" placeholder="Cauta acum...">
                    </div>
                </form>
            </div>
        </div>
        <h2 class="header1">Carui cabinet vrei sa adaugi servicii?:</h2>
        <hr>
        <br>
        <div class="row">
            {% for i in user_model %}
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="" style="text-decoration: none;">
                    <div class="jumbotron" id="card-box">
                        <img src="{{ i.imagine.url }}" id="image3" />
                        <p class="param2" style="color: #000;text-align: left;padding-top: 14px;">{{ i.numele_cabinetului }}</p>
                        <p class="param2" style="color: #000;text-align: left;">{{ i.judet }}, {{ i.localitate }}</p>
                        <div class="row">
                            <div class="col-lg-10 col-md-4 col-sm-6">
                                <p style="color: #000;"><i class="fas fa-star" style="color: #FFE15D;"></i> 900 Recenzii</p>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6">
                                <i class="far fa-heart" style="color: #000;"></i>
                            </div>
                        </div>
                        <a href="{% url 'adauga_servicii' pk=i.pk %}">Adauga Servicii</a>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
        <h2 class="header1">Servicii postate: {{ user_model2.count }}</h2>
        <hr>
        <br>
        <div class="row">
        {% for j in user_model2 %}
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="jumbotron" id="jumbotron5">
                <p>Categorie: {{ j.categorie}}</p>
                <p>Servicii: {{ j.servicii}}</p>
                <p>Pret: {{ j.pret }} {{ j.moneda }}</p>
            </div>
        </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}