{% extends 'my_app/contul_meu_doctor.html' %}
{% load static %}

{% block head_block %}
<style>
    .my_button{
        font-family: 'Montserrat', sans-serif;
        font-weight: bolder;
        color: #fff;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #92B4EC;
        border: 1px solid #92B4EC;
        border-radius: 12px;
        transition: 0.4 ease-in-out;
        text-decoration: none;
        padding-left: 10px;
        padding-right: 10px;
    }
    .my_button:hover{
        background-color: #6a96de;
        color: #fff;
    }
    .form-group{
        font-family: 'Montserrat', sans-serif;
        font-weight: bolder;
    }
</style>
{% endblock %}

{% block body_block %}
<div class="container">
    <div class="new_banner">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <img src="{% static 'images/profile_pic.png' %}" style="height: 7vh;width: 28%;display: inline;border-radius: 100%;">
                <p class="param5">{{ user.username }}</p>
            </div>
            <div class="col-lg-9 col-md-4 col-sm-6">
                <form class="form-group" method="POST" action="">
                    {% csrf_token %}
                    <div class="search-box">
                        <button class="btn-search"><i class="fas fa-search"></i></button>
                        <input type="text" class="input-search" placeholder="Cauta acum...">
                    </div>
                </form>
            </div>
        </div>
        <h2 class="header1">Trimite reteta pacientului:</h2>
        <hr>
        <br>
        {% for message in messages %}
        <div class="alert alert-success">
            <p style="font-family: 'Montserrat', sans-serif;font-weight: bolder;">{{message}}</p>
        </div>
        {% endfor %}
        <div class="row">
            <div class="col-lg-8 col-md-4 col-sm-6">
                <form method="POST" action="" class="form-group" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" class="my_button" value="Trimite" required />
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    var name = "{{ user.id }}";
    document.getElementById('user1').value = name;
</script>
{% endblock %}